@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d6d6d6;
}

.content{
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary{
    color: #fff;
}

.tile-second{
    color: #004B92;
}

.description{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary{
    color: #fff;
}

.description-second{
    color: #d6d6d6;    
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border:none;
}

.btn-primary{
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-primary:hover{
    background-color: #fff;
    color: #004B92;
}

.content::before{
    content:"";
    position: absolute;
    background-color: #004B92;
    width: 40%;
    height: 100%;
}

.first-content{
    display: flex;    
}

.first-column{
    text-align: center;
    flex:1 0 auto;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-social-media{
    display: flex;
    list-style-type: none;
}

.item-social-media{
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.description-second

.item-social-media a{
    color: #d6d6d6;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;    
}

.form input{
    height: 45px;
    border:none;
    background-color: #b6b6b6;
    margin: 8px;

}

.second-content{
    position: absolute;
    display: none;        
}